body{border:0px;height:100%;margin:0px;padding:0px;color:#000;min-width:1024px; background: #ffffff;}
.borderLeftTop{height: 100px;width: 210px; background: url(../img/borderLeftTop.png) repeat-x;}
.borderRightTop{background: url(../img/borderRightTop.png) repeat-x;}
.borderMiddleTop{background: url(../img/awlBorderUp.png) no-repeat;width: 44px;}
.borderLeftBotton{background: url(../img/borderLeftBotton.png) repeat-x;text-align: right; height: 39px;}
.borderMiddleBotton{background: url(../img/borderMiddleBotton.png) no-repeat; width: 44px;}
.borderRightBotton{height: 70px;background: url(../img/borderRightBotton.png) repeat-x;width: 300px; }
#navigation {font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;text-transform: uppercase;color: #444;}
#navigation ul {float: left;border-radius: 0px 0px 10px 10px;overflow: hidden;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);height: 30px;}
#navigation:after {clear: both;display: block;height: 0;visibility: hidden;}
#navigation li {float: left;border-style: solid;border-width: 1px;border-color: #BABABA #BABABA #BABABA #FFF;box-shadow: 0 1px rgba(255,255,255,1) inset;-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;background: #F7F7F7;background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED));background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%);background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%);background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%);background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 );list-style-type: none;}
#navigation li:hover, #navigation li:focus, #navigation li.current {box-shadow: 0 1px rgba(255,255,255,0.2) inset;-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;border-color: #262626 !important;background: #4D4D4D;background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626));background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%);background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%);background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%);background: linear-gradient(top, #4D4D4D 0%,#262626 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 );}
#navigation a {display: block;padding: 5px 20px;color: #444;text-decoration: none;text-shadow: 0 1px #FFF;}
#navigation a:hover, #navigation li.current a {color: #FFF;text-shadow: 0 1px #000;}
#navigation li:first-child {border-left-color: #BABABA;border-radius: 0px 0px 0px 10px;}
#navigation li:last-child {border-radius: 0px 0px 10px 0px;}