*{font-family:Arial; font-size:11px; color:#111111; }
.wajib{border: 1px #ff6666 solid;}
.content_luar {border: 1px solid #d9d9d9;padding: 1px;background: #ffffff;margin-bottom: 0px; box-shadow:0 0 10px #ddf;}
.content_dalam {padding: 5px; font-size: 12px; background: #ffffff;}
.content_dalam2 {padding: 10px; font-size: 12px; background: url(../img/_box-.png) repeat-x top ;}
.content_dalam h4 { font-size: 12px; margin: 0px; padding: 0px; color: #333;font-family: Tahoma, Geneva, sans-serif; border-bottom: #000 solid 1px; height: 25px;}
.content_dalam h5 { font-size: 12px; margin: 10px 0 5px 0; padding: 0 0 0px 0; color: #333;font-family: Tahoma, Geneva, sans-serif;}
.content_dalam div.judul { font-size: 12px; margin: 15px 0 5px 0; padding: 0 0 5px 0; color: #111;font-family: Tahoma, Geneva, sans-serif; border-bottom:2px inset #111111;width:100%;font-weight:bold}
.notify{margin: 10px 0px 10px 0px;font-family:Arial, 'Helvetica', Helvetica, sans-serif;font-size:  12px;text-align: center;}
.sssstext{width:20px;text-align: center;}
.ssstext{width:50px; text-align: center; }
.sstext{width:75px;}
.stext{width:100px;}
.smtext{width:125px;}
.mtext{width:150px;}
.ltext{width:200px;}
.lmtext{width:225px;}
.vltext{width:250px;}
.vvltext{width:350px;}
.numtext{text-align: right; height: 12px;width:125px;}
.snumtext{text-align: right; height: 12px;width:100px;}
input[readonly="readonly"]{background-color: #DFDFDF;}
textarea[readonly="readonly"]{background-color: #DFDFDF;}
#popup_container {font-family: Arial, sans-serif;font-size: 12px;min-width: 200px;max-width: 100%;background: #FFF;border: solid 5px #999;color: #000;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#popup_title {font-size: 14px;font-weight: bold;text-align: center;line-height: 1.75em;color: #666;background: #CCC url(../img/title.gif) top repeat-x;border: solid 1px #FFF;	border-bottom: solid 1px #999;cursor: default;padding: 0em;margin: 0em;}
#popup_content {background: 16px 16px no-repeat url(../img/info.gif);padding: 1em 1.75em;margin: 0em;}
#popup_content_dialog {padding: 1em 1.75em;margin: 0em;}
#popup_content_loading {padding: 1em 1.75em;margin: 0em;text-align:center;}
#popup_content.alert {background-image: url(../img/info.gif);}
#popup_content.confirm {background-image: url(../img/important.gif);}
#popup_content.prompt {background-image: url(../img/help.gif);}
#popup_message {padding-left: 48px;}
#popup_message_dialog {width:100%}
#popup_panel {text-align: center;margin: 2em 0em 0em 1em;}
#popup_prompt {margin: .5em 0em;}