table.tabelajax{width:100%;background-color: #f0f0f0;text-align: left;border:1px solid #ABC3D7;border-collapse:collapse; color:#474747;/*color:#3c7faf;*/ font-family: "lucida grande", Tahoma, verdana, arial, sans-serif; font-size:11px; direction:ltr; line-height:16px;}
table.tabelajax tr th{padding:3px;text-align:left;border-bottom:1px solid #ABC3D7;}
table.tabelajax tr span.order{cursor:pointer;}
table.tabelajax tr.head{border-bottom:1px solid #ABC3D7;}
table.tabelajax tr.head th{font-weight:normal;}
table.tabelajax tr.head .labelload{color:#777;display:none;}
table.tabelajax tr.head span{float:right;}
table.tabelajax td{color: #3D3D3D;padding: 5px;vertical-align:top;background-color: #FFF;border-bottom:1px solid #ABC3D7;border-left:1px solid #ABC3D7;}
.pointer{cursor:pointer;}
table.tabelajax tr.hilite td{background-color:#E8E8E8;}table.tabelajax tr.hilites td{background-color:#F3F3F3;}
table.tabelajax td.odd{background-color:#F3F3F3; padding: 3px; margin: 3px; }
table.tabelajax td.alt{background-color:#FFFFFF; padding: 3px; margin: 3px;}
table.tabelajax table.tabelclrajax td{background-color: transparent; border-color: transparent; padding: 1px; margin: 1px;}
table.tabelajax tr.selected td{background-color:#d9e3ef;}
table.tabelajax input.tb_chk, table.tabelajax input.tb_chkall{cursor:pointer;}
table.tabelajax input.tb_chkall{margin-left:4px}table.tabelajax input.tb_chk{margin-left:2px}
table.tabelajax input.tb_text, table.tabelajax select {border:1px solid #ABC3D7;font-family:Lucida Grande, Verdana, Sans-serif;font-size:11px;padding:2px;}
table.tabelajax input.tb_text:hover, table.tabelajax input.tb_text.mousedown, table.tabelajax select:hover, table.tabelajax select.mousedown{background-color:#d9e3ef;}
table.tabelajax input#tb_hal, table.tabelajax input#tb_view{width:40px;text-align:right;}
table.tabelajax input#tb_cari{width:140px;}
table.tabelajax .paging{font-size:19px;color:#585858;position:relative;top:2px;font-family:"Arial Black", Gadget, sans-serif}
table.tabelajax .paging:hover{color: #001D61;}
table.tabelajax .pdisabled{font-size:19px;color:#ABC3D7;position:relative;top:2px;font-family:"Arial Black", Gadget, sans-serif}input.btn[type="button"]{background-image: -moz-linear-gradient(center middle , #FEFEFE 0%, #F7F7F7 50%, #F3F3F3 50%, #E6E6E6 100%);    background-repeat: repeat-x;border: 1px solid #CCCCCC; border-radius: 4px 4px 4px 4px;color: #2D2D2D;font-weight: normal; text-shadow: 1px 1px #FFFFFF;}
input.btn[type="button"]:hover{ background-image: -moz-linear-gradient(center middle , #5E91BE 0%, #40729F 50%, #255E90 50%, #3D74A5 100%);  border-color: #326A9C; color: #FFFFFF; cursor: pointer;text-shadow: 0.1em 0.1em #666666;}